body{
    background-color: #141414 !important;

}
.content img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    justify-content: center;
    align-items: center; /* Vertically center the content */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    padding: 20px; /* Add padding for better spacing inside the container */
    text-align: center; /* Center-align text content */
    color: #333333; /* Set text color */
    font-size: 1.2rem; /* Adjust font size */
    /* Add transitions for a smoother hover effect */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.featured-content{
    display: flex;
    justify-content: center;
    flex-direction: row;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
}

.content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr; /* One column for the description */
    grid-template-rows: auto; /* Automatic height for the rows */
    gap: 10px;
}

    .info{
        position: absolute;
        left: 50px;
        bottom: 150px;
        display: flex;
        flex-direction: column;
    }
    .runtime{
        border: 2px solid #F699BE;
        width: 70px;
        color: white;
        display: flex;
        gap: 10px;
        font-size: 20px;
    }
    .imagetext{
        width: 50px;
        height:px;
    }
    .desc{
        grid-area: description;
        font-size: 21px;
        line-height: 36px;
        overflow: hidden;
        color: #fff;
        max-height: 108px;
        text-align: left;
    }
.custom-arrow{
    border: none;
    background-color: transparent;
    color: #FFD700;
    font-size: 16px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.custom-prev-arrow{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.custom-next-arrow{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
 .film-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
  gap: 30px;
  width: 300px;
  opacity: 0.8;
  cursor: pointer; /* Corrected class name and added cursor property */
  margin: 10px; /* Adjust margin as needed */
  transition: opacity 0.3s; /* Add transition for opacity change */
}
.film-item{
    position: relative; /* Ensure relative positioning for absolute child elements */
    border-radius: 10px;
    backdrop-filter: blur(4px); /* Use backdrop-filter for blur effect */
    border: 2px solid transparent;
    border-width: 10px;
    color: white;
    align-items: center;
    overflow: hidden; /* Ensure border transition covers the whole container */
  transition: transform 0.3s;
}
.film-item::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; /* Same border-radius as parent for rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
  }
.film-item:hover .film-posters-featured{
    border: 2px solid gray;
    transform: scale(1.1);
}
  .film-posters-featured{
    width: 250px;
    height: 300px;
  }
  .film-title{
    font-size: 20px;
    font-weight: 700;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    z-index: 1;
  }
  .release-year{
    font-size: 0.75rem;
    font-weight: 600;
  }
  .film-item:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    transition: border 0.3s;
  }




