@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Playfair+Display:wght@600&display=swap');
.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  height: 100%; /* Ensure the container takes full height */
}

.navbar {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar:hover {
  background-color: black;
  opacity: 0.9;
  transition: 0.8s;
}

.navbar-start {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-grow: 1;
}

.navbar-start li {
  color: white;
  margin-right: 20px; /* Adjust the spacing between list items */
}


.navbar-start li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.navbar-start li:hover {
  color: green;
}
.navbar-end{
  display: flex;
  gap: 20px;
  margin-left: auto;
  padding: 0;
  margin: 0;
}
.navbar-end li{
  color: white;
  list-style: none;
}
link{
  text-decoration: none;
}
.tagline{
  font-family: 'Playfair Display';
  color: white;
  margin-top: 225px;
}
.getstarted button{
  color: white;
  background-color: rgb(250, 100, 125);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.highlights {
  background-color: pink;
  padding: 10px; /* Adjust the overall padding as needed */
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.carousel {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  flex-wrap: wrap;
  justify-content: space-between;
}

.highlight-item {
  display: flex;
  align-items: center;
  width: calc(50% - 10px); /* Adjust the width for two columns and spacing */
  box-sizing: border-box;
  padding: 10px; /* Add padding to each box */
  border: 2px solid black; /* Adjust the color and thickness as needed */
  margin-bottom: 20px; /* Add some space between each box */
  text-align: left; /* Center the content within each box */
}

.highlight-item {
  display: block; /* Ensure the icon takes the full width of the container */
  border: 2px solid black; /* Adjust the color and thickness as needed */
  margin-bottom: 10px; /* Add space between the icon and the paragraph */
}
.highlight-item span {
  margin-right: 10px; /* Add space between the icon and the text */
}
.card-title{
  font-family:'Playfair Display' ;
  font-weight: bolder;
}



